<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi web</title>
</head>
<body>
	<h1>{{ blog.title }}</h1>
	<p>{{ blog.content }}</p>
	<a href="/">Regresar a Inicio</a>

</body>
</html>