<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi web</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
	<h1>Mi blog</h1>
	{% for blog in blogs %}
		<h3>{{ blog.title }}</h3>
		<a href="blog/{{ blog.id }}">Leer mas</a>
	{% endfor %}

</body>
</html>